p {
border:red;
background-color: red;
font-size: large;
}

.a3 {
    display: flex;
}
.a3item {
    border: 1px solid rgb(199, 194, 194);
    padding:20px;
}

.container {
margin:20px 20vw 0px;
    
}