
html ,body {
    font-size: 22px;
    text-align: center;
    text-align: center;
    margin:0px;
    
}


p {
    font-size: 1.4rem; // This would be 14px (1.4 * 10px)
}
h1 {
    font-size: 2.2rem; // 22px
}

div {
   
}

.flex {
    display: flex;
}

.app {
 /* margin:2px 5px 0px;
 border:1px solid green; */
 /* min-height: 800px; */
 /* width: 99%; */
 padding-top:40px;
}

.events-container {
 height:500px;
 width:80%;
 border:1px solid orange;
 margin:auto;
 padding-top: 50px;
}

.ob-container {
 /* height:500px; */
 width:80%;
 border:1px solid orange;
 margin:auto;
}

.ad-container {
 height:50px;
 width:80%;
 border:1px solid orange;
 margin:auto;

}

.clock-container {
height:130px;
 width:80%;
 border:1px solid orange;
 margin:auto;
 padding-top: 20px;

}

.bid-container {
height:650px;
 width:80%;
 border:1px solid orange;
 margin:auto;
 padding-top: 20px;

}

.ask-container {
    height:650px;
     width:80%;
     border:1px solid orange;
     margin:auto;
     padding-top: 20px;
    
    }
    
